body {
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

.btns {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#results {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
