body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, sans-serif;
  }
  h1,h2 {
    text-align: center;
  }
  .container {
    background-color: bisque;
    display: flex;
    justify-content: center;
   border-radius: 20%;
   border-width: auto;
    
  }
  .hand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .hand::before {
    content: attr(data-value);
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  button {
    font-size: 1.2rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }